<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>StaffRegistrationServlet</servlet-name>
        <servlet-class>StaffRegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffUpdateServlet</servlet-name>
        <servlet-class>StaffUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffLoginServlet</servlet-name>
        <servlet-class>StaffLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffChangePasswordServlet</servlet-name>
        <servlet-class>StaffChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>staffLogOutServlet</servlet-name>
        <servlet-class>staffLogOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffLogoutServlet</servlet-name>
        <servlet-class>StaffLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffRecoveryPasswordServlet</servlet-name>
        <servlet-class>StaffRecoveryPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMealServlet</servlet-name>
        <servlet-class>AddMealServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TopUpTransactionServlet</servlet-name>
        <servlet-class>TopUpTransactionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportServlet</servlet-name>
        <servlet-class>ReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>retrieveMeals</servlet-name>
        <servlet-class>retrieveMeals</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyMealServlet</servlet-name>
        <servlet-class>ModifyMealServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>staffViewOrders</servlet-name>
        <servlet-class>staffViewOrders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>staffViewIngredientNeed</servlet-name>
        <servlet-class>staffViewIngredientNeed</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffFoodRedeemServlet</servlet-name>
        <servlet-class>StaffFoodRedeemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>staffViewOrderDetail</servlet-name>
        <servlet-class>staffViewOrderDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>staffChangeMealStatusServlet</servlet-name>
        <servlet-class>staffChangeMealStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modifyOrdersServlet</servlet-name>
        <servlet-class>modifyOrdersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>staffViewMealByPriceServlet</servlet-name>
        <servlet-class>staffViewMealByPriceServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>StaffRegistrationServlet</servlet-name>
        <url-pattern>/StaffRegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffUpdateServlet</servlet-name>
        <url-pattern>/StaffUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffLoginServlet</servlet-name>
        <url-pattern>/StaffLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffChangePasswordServlet</servlet-name>
        <url-pattern>/StaffChangePasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>staffLogOutServlet</servlet-name>
        <url-pattern>/staffLogOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffLogoutServlet</servlet-name>
        <url-pattern>/StaffLogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffRecoveryPasswordServlet</servlet-name>
        <url-pattern>/StaffRecoveryPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMealServlet</servlet-name>
        <url-pattern>/AddMealServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TopUpTransactionServlet</servlet-name>
        <url-pattern>/TopUpTransactionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportServlet</servlet-name>
        <url-pattern>/ReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>retrieveMeals</servlet-name>
        <url-pattern>/retrieveMeals</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyMealServlet</servlet-name>
        <url-pattern>/ModifyMealServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>staffViewOrders</servlet-name>
        <url-pattern>/staffViewOrders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>staffViewIngredientNeed</servlet-name>
        <url-pattern>/staffViewIngredientNeed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffFoodRedeemServlet</servlet-name>
        <url-pattern>/StaffFoodRedeemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>staffViewOrderDetail</servlet-name>
        <url-pattern>/staffViewOrderDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>staffChangeMealStatusServlet</servlet-name>
        <url-pattern>/staffChangeMealStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>SignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentLoginServlet</servlet-name>
        <servlet-class>StudentLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentSignUpServlet</servlet-name>
        <servlet-class>StudentSignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetPasswordServlet</servlet-name>
        <servlet-class>ForgetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentModifyAccountServlet</servlet-name>
        <servlet-class>StudentModifyAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cartServlet</servlet-name>
        <servlet-class>cartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>summaryServlet</servlet-name>
        <servlet-class>summaryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteCartServlet</servlet-name>
        <servlet-class>deleteCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cancelOrderServlet</servlet-name>
        <servlet-class>cancelOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/SignupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentLoginServlet</servlet-name>
        <url-pattern>/StudentLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentSignUpServlet</servlet-name>
        <url-pattern>/StudentSignUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetPasswordServlet</servlet-name>
        <url-pattern>/ForgetPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentModifyAccountServlet</servlet-name>
        <url-pattern>/StudentModifyAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/ChangePasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cartServlet</servlet-name>
        <url-pattern>/cartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>summaryServlet</servlet-name>
        <url-pattern>/summaryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteCartServlet</servlet-name>
        <url-pattern>/deleteCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cancelOrderServlet</servlet-name>
        <url-pattern>/cancelOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modifyOrdersServlet</servlet-name>
        <url-pattern>/modifyOrdersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>staffViewMealByPriceServlet</servlet-name>
        <url-pattern>/staffViewMealByPriceServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
